# Ignore all files in data/raw except .gitkeep
data/raw/*
!data/raw/.gitkeep

# Ignore all files in data/processed except .gitkeep
data/processed/*
!data/processed/.gitkeep

# Other common ignores
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
